<link rel="stylesheet" type="text/css" href="/stylesheets/template/header.css" />
<ul class="navBar">
	<li><a id="home" href="#">Home</a></li>
	<li class="dropdown">
		<a href="#" id="cssRecreation" class="dropbtn">CSS recreation</a>
		<div class="dropdown-content">
			<a href="javascript:changeContent('instgramRC','cssRecreation');">Instgram</a>
			<a href="javascript:changeContent('facebookRC','cssRecreation');">Facebook</a>
			<a href="javascript:changeContent('twitterRC','cssRecreation');">Twitter</a>
		</div>
	</li>
	<li class="dropdown">
		<a href="#" id="githubProject" class="dropbtn">Github Project</a>
		<div class="dropdown-content">
			<a href="#">Tuning</a>
			<a href="#">idk1</a>
			<a href="#">idk2</a>
		</div>
	</li>
	<li class="dropdown">
		<a href="#" id="javaScript" class="dropbtn">Javascript</a>
		<div class="dropdown-content">
			<a href="#">idk0</a>
			<a href="#">idk1</a>
			<a href="#">idk2</a>
		</div>
	</li>
	<li><a id="File Share" href="javascript:changeContent('FileShare','FileShare');">File Share</a></li>
	<li style="float: right"><a id="about" href="#">About</a></li>
	<li style="float: right"><a id="login" href="/login">Login</a></li>
</ul>
<script src="/javascripts/main/setActiveColor.js"></script>
