<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(function () {
			$('#navBar').load('/html/header.html');
			$('#footer').load('/html/footer.html');
			$('#content').load('/html/cssRecreation/instgramRC.html');
		});
	</script>
	<script src="/javascripts/changeContent.js"></script>
	<head>
		<title>Welcome</title>
	</head>
	<div id="navBar"></div>
	<div id="content" style="height: 100vh"></div>
	<div id="footer"></div>
</html>
