<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(function () {
			$('#content').load('/html/main/fileShare.html');
			$('#navBar').load('/html/template/header.html');
			$('#footer').load('/html/template/footer.html');
		});
	</script>
	<script src="/javascripts/main/changeContent.js"></script>
	<head>
		<title>Welcome</title>
	</head>
	<div id="navBar"></div>
	<div id="content" style="height: 100vh"></div>
	<div id="footer"></div>
</html>
